
/*ptopiedades da pagina */

*{
margin:0;
padding:0;
font-size: 100%;
box-sizing: border-box;
font-family: ;
}

.container{
display:flex;
flex-direction:row;
flex-wrap:nowrap;
justify-content:center;
align-items:center;
background: red;
width:100%;
height:400px;
background-image:url("img/livro.jpg");
background-size:cover;
background-clip: content-box;
background-size: cover;
background-position: center;
border-bottom-right-radius:20%;
}

.menu{
display:flex;
flex-direction:row;
flex-wrap:nowrap;
justify-content:space-between;
align-items:center;
background: black;
width:100%;
height:70px;
position: fixed;
}

nav a,li{
text-decoration:none;
font-size:20px;
color:white;
list-style:none;
padding:10px;


}

a{
text-decoration:none;
font-size:20px;
color:white;
list-style:none;
padding:10px;


}

nav{
display:flex;
}

li{
text-decoration:none;
}

/*
.menu li:first-child{
    margin-left:0; 
    }
    
    .menu li:last-child{
        margin-right: 0;
    }
    
    @media(max-width: 700px){
        .menu{
            flex-direction: column;
}
        li{
            margin-left: 30px;
        }
    
    }

*/
.inicio{
display: flex;
width: 100%;
height: 550px;
flex-direction: column;
align-content: center;
align-items: center;
background-image: url(../img/livro2.jpg    );
background-position: center;
background-size: cover;
background-repeat: no-repeat;

}

#mensagemInicial{
color:white;
margin-top: 200px;
font-size: 40px;
margin-left: 25px;
width: 600px;
text-align:center;
font-family: Snell Roundhand, cursive ;
}

#Bntlogin{
width: 100px;
height: 40px;
background:black;
color: white;
border: 2px solid black;

}

.img{

display: flex;
margin-top: 30px;
width: 100%;
height: 600px;
align-items: center;
flex-direction: row;
padding: 10px;
justify-content: space-between;
}


#img1{
width: 300px;
height: 300px;
background: red;
margin-top: 150px;
padding: 4px;
transition: all 0.4s ease-out;
animation-duration: 3s;
background-image: url(../img/livro2.jpg);
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}
#img2{
width: 500px;
height: 500px;
background: blue;
padding: 4px;
transition: all 0.4s ease-out;
animation-duration: 3s;
background-image: url(../img/livro7.jpeg);
background-size: cover;
background-repeat: no-repeat;
background-position: center;

}
#img3{
width: 400px;
height: 400px;
background: burlywood;
margin-top: 90px;
padding: 4px;
transition: all 0.4s ease-out;
animation-duration: 3s;
background-image: url(../img/livro3.jpg);
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}

#img2:hover{
cursor: pointer;
transform: translateY(-20px);
box-shadow: 4px 30px 16px 0px rgba(50,50,50, 0.45);


}

#img1:hover{
cursor: pointer;
transform: translateY(-20px);
box-shadow: 4px 30px 16px 0px rgba(50,50,50, 0.45);


}
#img3:hover{
cursor: pointer;
transform: translateY(-20px);
box-shadow: 4px 30px 16px 0px rgba(50,50,50, 0.45);


}





.meioTEXT{

display: flex;
align-items: center;
align-content: center;
flex-direction: row;
width: 100%;
height: 400px;
justify-content: center;
}

#texto{
font-size: 30px;
width: 400px;
color:black     ;
font-family: 'Amatic SC', cursive;
}

#iniciar{
text-decoration: none;
color: darkcyan;
font-size: 40px;


}

.slide-fade-enter-active{
    transition: all .3s ease;
}

.slide-fade-leave-active{
    transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter,.slide-fade-leave-to{
    transform: translateX(10px);
    opacity: 0;
}


/*codigo css form*/



.principal{
position: absolute;
left:50%;
margin-top: -70px;
margin-bottom: 100px;
transform:translate(-50%,-50%);
width:400px;
padding:40px;
background: rgba(0,0,0,.8);
box-sizing: border-box;
box-shadow:0 15px 25px rgba(0,0,0,.5);
border-radius:10px;
}

.principal h2{
margin:0 0 30px;
padding:0;
color:#fff;
text-align: center;
}

.principal .meio{
position: relative;
}

.principal .meio input{
width:100%;
padding:10px 0;
font-size:16px;
color:#fff;
letter-spacing:1px;
margin-bottom:30px;
border:none;
border-bottom:1px solid;
outline:none;
background: transparent;
}

.principal .meio label{
position: absolute;
top:0;
left:0;
padding:10px 0;
font-size:16px;
color:#fff;
pointer-events: none;
transition: .5s;
}

.principal .meio input:focus~label,
.principal .meio input:valid~label
{
top:-18px;
left:0;
color:white;
font-size:12px;
}


.principal input[type="submit"]{
background: transparent;
border: none;
outline: none;
color:#fff;
background:black;
padding:10px 20px;
cursor: pointer;
border-radius:10px;
}

/*cadastro*/

.principal2{
position: absolute;
left:50%;
margin-top: 290px;
margin-bottom: 100px;
transform:translate(-50%,-50%);
width:400px;
padding:40px;
background: black;
box-sizing: border-box;
box-shadow:0 15px 25px rgba(0,0,0,.5);
border-radius:10px
}

.principal2 h2{
margin:0 0 30px;
padding:0;
color:#fff;
text-align: center;
}

.principal2 .meio{
position: relative;
}

.principal2 .meio input{
width:100%;
padding:10px 0;
font-size:16px;
color:#fff;
letter-spacing:1px;
margin-bottom:30px;
border:none;
border-bottom:1px solid;
outline:none;
background: transparent;
}

.principal2 .meio label{
position: absolute;
top:0;
left:0;
padding:10px 0;
font-size:16px  ;
color:#fff;
pointer-events: none;
transition: .5s;
}

.principal2 .meio input:focus~label,
.principal2 .meio input:valid~label
{
top:-18px;
left:0;
color:white;
font-size:12px;
}


.principal2 input[type="submit"]{
background: transparent;
border: none;
outline: none;
color:#fff;
background:black;
padding:10px 20px;
cursor: pointer;
border-radius:10px;
}

    
.fim{
    display: flex;
    width: 100%;
    height: 100px;
    background: black;
    justify-content: center;
    align-items: center;
    flex: 1 0 auto;
}
#footmsg{
    color: white;
    font-size: 15px;
    
}    